{{#extends "base"}}

{{#block "content"}}
<h1>Approvals</h1>
<ul>
    <li>
        <a href="/users" class="btn btn-success mt-3">
            <h3>Users</h3>
        </a>
    </li>
    <li>
        <a href="/collections" class="btn btn-success mt-3">
            <h3>Collections</h3>
        </a>
    </li>
    <li>
        <a href="/assets/0" class="btn btn-success mt-3">
            <h3>Assets</h3>
        </a>
    </li>

    {{!-- Add this later, start on react --}}
    {{!-- <li>
        <a href="/bids" class="btn btn-success mt-3">
            <h3>Bids</h3>
        </a>
    </li>
    <li>
        <a href="/traits" class="btn btn-success mt-3">
            <h3>traits</h3>
        </a>
    </li> --}}
</ul>

{{/block}}

{{/extends}}