{{#extends 'base'}}

{{#block 'content'}}
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>txHash</th>


        </tr>

    </thead>
    <tbody>
        {{#each deposits}}
        <tr>
            <td>
                <a href="/collections/{{this.id}}/update" class="btn btn-primary btn-sm">Update</a>
                <a href="/collections/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
            <td>
                {{txHash}}
            </td>

        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}

{{/extends}}